# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Node.js
node_modules/
dist/
.cache/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Environment files
.env
.env.local
